@import url("https://p.typekit.net/p.css?s=1&k=alf5wfn&ht=tk&f=40023&a=2898073&app=typekit&e=css");
@font-face {
  font-family: "active";
  src: url("https://use.typekit.net/af/8bd1e4/00000000000000003b9b22bc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/8bd1e4/00000000000000003b9b22bc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/8bd1e4/00000000000000003b9b22bc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: lato;
  src: url("/font/Lato-Regular.ttf") format("truetype");
}

.tk-active {
  font-family: "active",sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 150px;
  padding-top: 75px;
  font-family: "active";
}

h2 {
  font-family: "active";
  font-size: 100px;
}

h3 {
  font-family: "active";
  font-size: 45px;
}

p {
  font-size: 20px;
  font-family: lato;
}

body {
  background: url("img/rideau_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  padding: 20px 50px;
  background: black;
}

.navbar .nav-link {
  color: #a07720;
  text-align: center;
  font-weight: bold;
  border: solid 2px black;
  font-size: 25px;
  font-family: "active";
  margin: 0 10px;
}

.navbar .nav-link:hover {
  color: black;
  border: solid 2px #a07720;
  border-radius: 2px 2px 2px;
  background: #a07720;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.navbar a {
  padding: 0 25px;
}

.navbar button {
  background: #a07720;
}

header {
  height: 800px;
}

header .logoFilm {
  padding-top: 100px;
}

section {
  padding: 75px 200px;
}

#festival {
  background: black;
}

#festival h2 {
  color: #a07720;
  padding-bottom: 25px;
}

#festival h3 {
  color: #a07720;
}

#festival p {
  color: #fff;
}

#festival .festival_2 {
  padding-top: 20px;
}

#festival .newsletter {
  padding-top: 75px;
}

#festival .newsletter .email {
  font-family: "active";
  font-size: 25px;
}

#festival .newsletter #email {
  margin-bottom: 25px;
  width: 400px;
}

#festival .newsletter .button1 {
  background: #a07720;
  border: solid 2px #fff;
  border-radius: 2px 2px 2px;
  color: #fff;
  font-family: "active";
  font-size: 20px;
  padding: 10px 40px;
}

#festival .newsletter .button1:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#festival .newsletter a {
  color: #fff;
}

#festival .newsletter a:hover {
  color: #a07720;
  text-decoration: none;
}

#line_up h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
}

#line_up h3 {
  color: #fff;
  padding-bottom: 25px;
  font-size: 75px;
}

#line_up .film1 {
  height: 650px;
  padding-bottom: 75px;
  margin: 0px 0;
}

#line_up .film2 {
  height: 650px;
  padding-bottom: 75px;
  margin: 0px 0;
}

#line_up .film3 {
  height: 600px;
  margin: 0px 0;
}

#line_up p {
  color: #fff;
}

#line_up .img_film {
  width: 380px;
  height: 550px;
  border-radius: 5px 5px 5px;
}

#line_up button {
  background: #a07720;
  border: solid 2px #fff;
  border-radius: 2px 2px 2px;
  color: #fff;
  padding: 10px 40px;
  margin-top: 25px;
  font-family: "active";
  font-size: 20px;
}

#line_up button:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#benevole {
  background: #000;
}

#benevole h2 {
  color: #a07720;
  text-align: center;
  margin-bottom: 75px;
}

#benevole .nat {
  padding-bottom: 50px;
}

#benevole h3 {
  font-family: "active";
  color: #a07720;
  text-align: center;
}

#benevole p {
  color: #fff;
  font-family: lato;
  text-align: center;
}

#benevole .img_membre {
  width: 200px;
  height: 200px;
  border-radius: 100% 100% 100%;
  margin-bottom: 50px;
}

#recrutement {
  padding-top: 75px;
}

#recrutement h4 {
  color: #a07720;
  font-size: 40px;
  font-family: "active";
  padding-bottom: 25px;
}

#recrutement p {
  text-align: justify;
}

#recrutement .cta_benevole {
  background: #a07720;
  border: solid 2px #fff;
  border-radius: 2px 2px 2px;
  color: #fff;
  font-family: "active";
  font-size: 25px;
  padding: 10px 40px;
}

#recrutement .cta_benevole:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#recrutement a {
  color: #fff;
}

#recrutement a:hover {
  color: #a07720;
  text-decoration: none;
}

#partenaires h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
}

#partenaires h4 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "active";
  padding: 75px 0;
}

#partenaires ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  grid-gap: 10px;
}

#partenaires li {
  position: relative;
  width: 100%;
}

#partenaires li::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-bottom: 100%;
}

#partenaires img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#partenaires .cta_benevole {
  background: #a07720;
  border: solid 2px #fff;
  border-radius: 2px 2px 2px;
  color: #fff;
  font-family: "active";
  font-size: 25px;
  padding: 10px 40px;
}

#partenaires .cta_benevole:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#partenaires a {
  color: #fff;
}

#partenaires a:hover {
  color: #a07720;
  text-decoration: none;
}

#infos {
  background: #000;
  padding: 75px 300px;
}

#infos .map {
  padding-top: 25px;
}

#infos h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
}

#infos h3 {
  color: #a07720;
  padding-bottom: 50px;
}

#infos p {
  color: #fff;
  padding-bottom: 20px;
}

#contact .form1, #contact .form2 {
  padding: 25px 75px;
}

#contact h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
}

#contact p {
  color: #fff;
  text-align: center;
}

#contact form {
  padding-top: 50px;
}

#contact form label {
  color: #fff;
  font-family: "active";
  font-size: 25px;
}

#contact form input {
  background: #fff;
  border: solid 2px #a07720;
  border-radius: 2px 2px 2px;
  color: #a07720;
  font-family: "active";
  font-size: 25px;
  padding: 10px 0px;
}

#contact form textarea {
  background: #fff;
  border: solid 2px #a07720;
  border-radius: 2px 2px 2px;
  color: #a07720;
  font-family: "active";
  font-size: 25px;
  padding: 10px 0px;
  height: 110px;
}

#contact form textarea:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#contact form .cta_benevole {
  background: #a07720;
  border: solid 2px #fff;
  border-radius: 2px 2px 2px;
  color: #fff;
  font-family: "active";
  font-size: 25px;
  margin: 10px 0;
  height: 60px;
  width: 200px;
}

#contact form .cta_benevole:hover {
  background: #fff;
  border: solid 2px #a07720;
  color: #a07720;
}

#contact form a {
  color: #fff;
}

#contact form a:hover {
  color: #a07720;
  text-decoration: none;
}

#contact form #checkbox {
  padding: 20px 100px;
}

#contact form #checkbox div {
  display: inline-block;
  position: relative;
}

#contact form #checkbox input {
  display: none;
}

#contact form #checkbox label {
  display: block;
  height: 50px;
  background-color: #fff;
  color: #a07720;
  border: solid 2px #a07720;
  border-radius: 3px 3px 3px;
  padding: 0 10px;
  margin: 10px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "active";
  font-size: 18px;
}

#contact form #checkbox input:checked ~ label {
  background-color: #a07720;
  border: solid 1px #fff;
  color: #fff;
}

#contact form #checkbox input:checked ~ label::after {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Check-green.svg/600px-Check-green.svg.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

footer {
  background: #000000;
  padding: 50px 0px;
}

footer p {
  color: #fff;
  font-family: "active";
}

footer #myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  outline: none;
  background-color: #a07720;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: solid 2px #fff;
  border-radius: 10px;
  font-size: 18px;
}

footer #myBtn:hover {
  background-color: #fff;
  border: solid 2px #a07720;
}

footer #myBtn a {
  color: #fff;
}

footer #myBtn a:hover {
  text-decoration: none;
  color: #a07720;
}
/*# sourceMappingURL=style.css.map */